<div style="background: white" id="sim_menu">
    <div class="" style="margin-bottom: 3px">
        <span class="label label-default" for="input_sim_interval" style="width: 100%;margin-right: 2px">Date</span>
        <div class="input-group date" data-provide="datepicker">
            <input type="text" class="form-control">
            <div class="input-group-addon">
                <span class="glyphicon glyphicon-th"></span>
            </div>
        </div>
        <div class="menu-group  btn-group btn-group-justified">
            <span class="label label-default" for="input_sim_interval" style="width: 100%;margin-right: 2px">Interval (sec)</span>
            <input id="input_sim_interval" placeholder="Default : 10 (min)"
                   style="box-sizing: border-box;width: 100%"
                   class="form-control input-sm">
        </div>
    </div>
    <div class="btn-group btn-group-xs btn-group-justified">
        <button id='btn_sim' class="btn btn-xs btn-primary btn-sim" style="width: 100%">Simulation</button>
        <button id='btn_stop' class="btn btn-xs btn-danger btn-warning" style="width: 100%">Stop</button>
    </div>
</div>